<div class="section contact_section" style="margin-top: 120px">
  <section class="banner">
    <div class="img">
      <img src="../../../assets/images/banner.gif" alt="" />
    </div>
    <div class="black"></div>
    <div class="text">
      <h4>học phần 001 - Lập trình Fullstack với angular 1 và mySQL</h4>
      <h6>học phần 1 - Lập trình Fullstack với angular 1 và mySQL</h6>
      <button type="button" class="btn btn-primary">Đăng ký ngay</button>
    </div>
  </section>
  <div class="container-fluid">
    <div class="pd-wrap">
      <div class="container">
        <div class="heading-section">
          <h2>Chi tiết khóa học</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img
              src="../../../assets/images/fullstackangularmysql.jpg"
              width="100%"
              alt=""
            />
          </div>
          <div class="col-md-6">
            <div class="product-dtl">
              <div class="product-info">
                <div class="product-name">
                  Lập trình Fullstack với angular 1 và mySQL
                </div>

                <div class="product-price-discount">
                  <span>$550.0</span><span class="line-through">$750.0</span>
                </div>
              </div>
              <div class="description">
                <h3>Giới thiệu khóa học</h3>
                <p>
                  Angular js là framework của Javascrip được phát triển bởi
                  Google. là ngôn ngữ được sử dụng trên Front-end, sử dụng giao
                  thức kết nối dữ liệu với Back-end là Json. Các lập trình viên
                  sử dụng Angular Js sẽ được hỗ trợ thêm các tính năng mới bổ
                  trọ cho việc phát triển HTML bằng một Frame work lập trình
                  HTML kiểu như Bootstrap là AngularJS Marterial. Cũng rất nhanh
                  chóng, các lập trình viêncó thể sử dụng lại các tài nguyên này
                  mà không cần phải viết các dòng code nhiều. Và AngularJS
                  Angular Js thường được ứng dụng cho việc lập trình các ứng
                  dụng web đơn lẻ như quản lý admin của website, hay các trang
                  phân tích biểu đồ marketing, hay các trang viết mã CRM đang
                  rất phổ biến hiện nay nhờ tốc độ load cực nhanh nhờ tính năng
                  liên kết cực mạnh cho liên kết dữ liệu. Nếu bạn là người mới
                  biết đến AngularJS, hoặc nếu bạn đã tìm hiểu về Angular JS
                  nhưng đôi khi cảm thấy như bạn vẫn chưa hoàn toàn “nắm rõ về
                  nó”, đây chính là khóa học dành cho bạn.
                </p>
                <h6>
                  THAM GIA KHOÁ HỌC, BẠN SẼ ĐƯỢC CUNG CẤP ĐẦY ĐỦ KIẾN THỨC VỀ:
                </h6>
                <ul>
                  <li>
                    <p>
                      Học thực hành để hiểu bản chất cách làm một ứng dụng
                      Single Page web App với Angular
                    </p>
                  </li>
                  <li><p>Lý thuyết cơ bản về ngôn ngữ Angular JS</p></li>
                  <li>
                    <p>
                      Áp dụng các kiến thức của 2 phần trước để làm phần Backend
                      hoàn chỉnh với Angular js và API sử dụng là PHP/MYsql: Tạo
                      dữ liệu trong Mysql và viết API cho Angular js; Kết nối
                      Angular js với Mysql qua API; Hoàn thiện ứng dụng Angular
                      js – Mysql đầu tiên
                    </p>
                  </li>
                  <li>
                    <p>
                      Phương pháp lập trình single-page web app sử dụng Route:
                      Hoàn thiện ứng dụng đầu tiên sử dụng Route kết nối cơ sở
                      dữ liệu qua http
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="field center">
              <button type="button" class="btn btn-primary">Đăng ký</button>
            </div>
          </div>
        </div>

        <div class="content__course" style="margin-top: 30px">
          <div class="title">
            <h3>Nội dung khóa học</h3>
          </div>
          <table class="table table-hover" style="background-color: #f0f0f0">
            <thead>
              <tr style="background-color: #e8e8e8">
                <th scope="col">phần 01 - Giới thiệu khóa học</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <i class="fab fa-youtube"></i>
                  <span> 001 - Giới thiệu angular JS</span>
                </th>
                <td></td>
                <td></td>
                <td>
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                    style="
                      background-color: #2a75ab;
                      border-radius: 0px;
                      font-size: 14px;
                      float: right;
                    "
                  >
                    Xem trước
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalCenter"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                            001 - Giới thiệu angular JS
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <iframe
                            width="470"
                            height="315"
                            src="https://www.youtube.com/embed/urSV1TnqRqI"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                          ></iframe>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Đóng
                          </button>
                          <button type="button" class="btn btn-success">
                            Hoàn thành
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <i class="fas fa-file-alt" style="font-size: 14px"></i>
                  <span> File đính kèm</span>
                </th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover">
            <thead>
              <tr style="background-color: #e8e8e8">
                <th scope="col">phần 02 - Cài đặt cơ bản</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <i class="fab fa-youtube"></i>
                  <span> 002 - Cài đặt code editor</span>
                </th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">
                  <i class="fab fa-youtube" style="font-size: 14px"></i>
                  <span> 003 - Cài đặt plugin </span>
                </th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="product-info-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="description-tab"
                data-toggle="tab"
                href="#description"
                role="tab"
                aria-controls="description"
                aria-selected="true"
                >các khóa học liên quan</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="review-tab"
                data-toggle="tab"
                href="#review"
                role="tab"
                aria-controls="review"
                aria-selected="false"
                >Reviews (0)</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="description"
              role="tabpanel"
              aria-labelledby="description-tab"
            >
              <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="work_blog margin-top_30">
                    <img
                      class="img-responsive"
                      src="../../../assets/images/courses12.png"
                      alt="#"
                    />
                    <div class="hover_workblog">
                      <img src="../assets/images/search_icon.png" alt="#" />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="work_blog margin-top_30">
                    <img
                      class="img-responsive"
                      src="../../../assets/images/thietkeminhhoa.jpg"
                      alt="#"
                    />
                    <div class="hover_workblog">
                      <img src="../assets/images/search_icon.png" alt="#" />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="work_blog margin-top_30">
                    <img
                      class="img-responsive"
                      src="../../../assets/images/thietkedohoa.jpg"
                      alt="#"
                    />
                    <div class="hover_workblog">
                      <img src="../assets/images/search_icon.png" alt="#" />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="work_blog margin-top_30">
                    <img
                      class="img-responsive"
                      src="../../../assets/images/photoshopnangcao.jpg"
                      alt="#"
                    />
                    <div class="hover_workblog">
                      <img src="../assets/images/search_icon.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div
              class="tab-pane fade"
              id="review"
              role="tabpanel"
              aria-labelledby="review-tab"
            >
              <div class="review-heading">REVIEWS</div>
              <p class="mb-20">There are no reviews yet.</p>
              <form class="review-form">
                <div class="form-group">
                  <label>Your rating</label>
                  <div class="reviews-counter">
                    <div class="rate">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Your message</label>
                  <textarea class="form-control" rows="10"></textarea>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name=""
                        class="form-control"
                        placeholder="Name*"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name=""
                        class="form-control"
                        placeholder="Email Id*"
                      />
                    </div>
                  </div>
                </div>
                <button class="round-black-btn">Submit Review</button>
              </form>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script> -->
